@import "mq";
@import "type";

amp-img {
  background-color: black;
  height: auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

div.container,
div.small-container {
  margin: 0 auto;
  padding: 0 20px;
}

div.container {
  //max-width: 940px;
}

div.small-container {
  max-width: 700px;
}

header,
footer {
  background: #1D1D1D;
  color: #ffffff;
}

header{
  nav.main-nav{
    height:50px;
    overflow:hidden;
  }
  h1{
    position:absolute;
    top:5px;
  }
}

section.hero {
  color: #fff;
  background-image: url('/images/bg.jpg');
  background-size: cover;
}

p.post-hero {
  width: 80%;
  margin: 0 auto;
}

header a,
section.hero a,
footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

header h1 a {
  font-size: 20px;
}

header,
footer {
  padding: 10px 0;
}

nav.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav.main-nav li,
nav.main-nav a {
  display: inline-block;
}

nav.main-nav li a {
  padding: 25px 10px;
}

div.content {
  background: #fff;
  padding-bottom: 30px;
}

section.hero {
  padding: 120px 0;
}

p.sub-text {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  padding: 50px 0;
}

.column {
  box-sizing: border-box;
  float: left;
}

.column.third {
  width: 33%;
  padding: 0 20px;
  text-align: center;
}

.column.half {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-posts {
  text-align: center;
  padding-bottom: 40px;
  > ul{
    margin-top:0;
  }
}

.blog-post {
  //width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  @include bp-sm() {
    padding: 0 5%;
    font-size: 1.5vw;
  }
}

.blog-post .date {
  float: right;
}

.comment {
  border: 1px solid #CCC;
  padding: 20px 50px;
  color: #777;
  position: relative;
  font-size: .9em;
  margin: 30px 0;
}

.comment h4 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 143px;
}

.comment span.date {
  position: absolute;
  top: 64px;
  left: 142px;
}

.comment .profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

hr {
  border: 1px solid #eee;
  margin: 60px 0;
}

textarea,
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  display: block;
  box-sizing: border-box;
}

textarea {
  height: 250px;
  line-height: 1.5em;
  border: 1px solid #ccc;
  resize: none;
}

label {
  margin: 30px 0 10px 0;
  display: block;
}

input[type="submit"] {
  margin: 30px 0 0 0;
  font-size: 20px;
}

.newsletter form {
  padding: 30px;
  border: 1px solid #ccc;
}

.newsletter label {
  margin: 0;
}

.newsletter input[type="submit"] {
  display: block;
}

.face-book {
  text-align: center;
}

.you-tube {
  text-align: center;
  margin-bottom: 20px;
}

code {
  font-size: 0.7em;
  span {
    white-space: pre-wrap;
    display: inline;
  }
}

.article {
  width: 100%;
  height: 240px;
}

article.first {
  padding-top: 30px;
}

figure.highlight {
  word-wrap: break-word;
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: -5px;
}
figure.highlight:nth-of-type(2) {
  margin-top:0;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
  float: right;
}

.amp-iframe-container {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  .spacing {
    padding-top: 5px;
    font-size: 0.6em;
  }
}

.row {
  display: grid;
  grid-template-columns: 100%;

  @include bp-sm() {
    grid-template-columns: 45% 55%;
  }
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.row-2 {
  display: grid;
  grid-template-columns: 100%;

  @include bp-sm() {
    grid-template-columns: 55% 45%;
  }
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.row-full {
  width: 100%;
  display: block;
  code {
    font-size: 0.8em;
    white-space:nowrap;
  }
  figure.highlight {
    margin-right: 0;
    margin-bottom:50px;
    text-align: center;
  }
}

.main {
  font-size: 3vw;
  text-align: center;
  padding: 100px 0;
  font-family: 'Schoolbell', sans-serif;
}
