<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script async {{ js_file.attr }}="{{ js_file.attrval }}" src="{{ js_file.src }}"></script>
      {% endfor %}
    {% endif %}

	<title>{{ page.title }}</title>
    <link rel="canonical" href="{{ page.url }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
    <style amp-boilerplate>{% include required-js.css %}</style>
    <noscript><style amp-boilerplate>{% include required-nojs.css %}</style></noscript>

	{% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
            <style amp-custom>{% include {{stylesheet}}.css %}</style>
        {% endfor %}
	  {% else %}
	  <style amp-custom>{% include styles.css %}</style>
    {% endif %}

	</head>
	<body>
		<header>
			<div class="container">
				<nav class="main-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/slides.html">Slides</a></li>
					</ul>
				</nav>
				<h1><a href="/">Google<strong>AMP</strong></a></h1>
			</div>
		</header>
		<div class="content">
			{{ content }}
		</div>

		<footer>
			<div class="container">
				<p class="center-text">
					<a href="http://strangecorp.com">Created by StrangeCorp</a></p>
			</div>
		</footer>
	</body>
</html>
